<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Book title</label>
                    <input name="title" [(ngModel)]="title" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label class="form-label">Author</label>
                    <input name="Author" [(ngModel)]="Author" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Description</label>
                    <textarea name="Description" [(ngModel)]="Description" type="text" class="form-control"></textarea>
                </div>
                <!-- <div class="col col-12 col-sm-6 col md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Publisher</label>
                    <input name="Publisher" [(ngModel)]="Publisher" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Language</label>
                    <input type="text" name="" id="" class="form-control">
                </div> -->
                <div class="col col-12 col-sm-6 col md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Book image</label>
                    <input name="image" [(ngModel)]="image" type="file" class="form-control">
                </div>
                <!-- <div class="col col-12 col-sm-6 col md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Distributor</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Released year</label>
                    <input type="text" class="form-control">
                </div> -->
                <div class="col col-12 col-sm-6 col md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Price</label>
                    <input name="price" [(ngModel)]="price" type="text" name="" id="" class="form-control">
                </div>
                
                <br>
                <div class="col col-12 col-sm-12 col md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readValues()" class="btn btn-success">ADD</button>
                </div>
            </div>
        </div>
    </div>
</div>